# Ignorar arquivos de sistema e python
__pycache__/
*.pyc

# Ignorar ambiente virtual (pesado e inútil na nuvem)
.venv/
venv/
env/

# IGNORAR SENHAS (CRUCIAL)
.env
.streamlit/secrets.toml
config_secreta.json

# Ignorar arquivos de dependências e bibliotecas
os
genai
json
st